<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".config.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RewardGame"
        tools:targetApi="31">
        <activity
            android:name=".activity.StartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Quiz"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SpinActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ScratchActivity"
            android:exported="true"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ClickActivity"
            android:exported="true"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.CaptchaActivity"
            android:exported="true"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.QuizActivity"
            android:exported="true"
            android:label="@string/app_name">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RewardGame">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/SDK" />
    </application>

</manifest>